*{
    margin:0;
    padding:0;
    
}
header{
    position: sticky !important;
}


.overflow{
    z-index: -1 !important;
  height: 0vh;
  }
  .navList .dropdowN{
    position: absolute;
    top:165px !important;
  display: none;
    color: black;
    width: 160px;
    margin-left: -10px;

  }
  .back{
 
    
    display: grid;
    grid-template-areas: 'h1 h1 h1 h1' 
    'contact contact contact contact'
    'footer footer footer footer';
    row-gap: 50px;
    
    
    
    

  }
.contactUs{
   

grid-area: contact;

justify-self: center;

   
}
h1{
    margin: 20px auto auto;
    color:rgb(3, 3, 8);
    justify-self: center;
    grid-area: h1;
}
.act{
    border-bottom:orange 2px solid;
    width:200px;
    display: flex;
    justify-content: center;
   
}
.provost{
   text-align: center;
   background-color:skyblue;
   margin-top: -10px;
  
   
    
}
.provostDetails{
    padding: 70px;
    color: black;

    
}
.provostDetails h2{
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Rubik Vinyl', cursive;
    font-family: 'Ubuntu', sans-serif;
    
}

.footer{
    grid-area: footer;
    
    

    
    
}
@media screen and (max-width:700px){
    .navbaR .menubaR{
    
            display: block;
            position: absolute;
            left:95%;
            top:50px;

    }
}

@media screen and (max-width:450px){
    .provostDetails{
        padding: 30px;
        color: black;
    
        
    }
    
}
@media screen and (max-width:250px){
 
  .provostDetails{
    padding: 20px;
    color: black;

    
}
}
@media screen and (max-width:222px){
    .provostDetails{
        padding: 10px;
    }
  .footer{
    flex-direction: column;
  }
   .act{
    width: 170px;
   }
    
}

